<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference
        for="SnowIO\AttributeOptionCode\Api\CodedAttributeOptionRepositoryInterface"
        type="SnowIO\AttributeOptionCode\Model\CodedAttributeOptionRepository" />
    <preference
        for="SnowIO\AttributeOptionCode\Api\ProductRepositoryInterface"
        type="SnowIO\AttributeOptionCode\Model\ProductRepository" />
    <preference
        for="SnowIO\AttributeOptionCode\Api\Data\CodedAttributeOptionInterface"
        type="SnowIO\AttributeOptionCode\Model\CodedAttributeOption" />
    <preference
        for="SnowIO\AttributeOptionCode\Api\Data\CodedAttributeOptionLabelInterface"
        type="SnowIO\AttributeOptionCode\Model\CodedAttributeOptionLabel" />
    <preference
        for="SnowIO\AttributeOptionCode\Api\Data\ProductInterface"
        type="SnowIO\AttributeOptionCode\Model\Product" />
    <preference
        for="SnowIO\AttributeOptionCode\Api\AttributeOptionCodeRepositoryInterface"
        type="SnowIO\AttributeOptionCode\Model\AttributeOptionCodeRepository" />

    <type name="Magento\Eav\Model\EavCustomAttributeTypeLocator">
        <arguments>
            <argument name="serviceEntityTypeMap" xsi:type="array">
                <item name="SnowIO\AttributeOptionCode\Api\Data\ProductInterface" xsi:type="const">Magento\Catalog\Api\Data\ProductAttributeInterface::ENTITY_TYPE_CODE</item>
            </argument>
            <argument name="serviceBackendModelDataInterfaceMap" xsi:type="array">
                <item name="SnowIO\AttributeOptionCode\Api\Data\ProductInterface" xsi:type="array">
                    <item name="Magento\Eav\Model\Attribute\Data\Select" xsi:type="string">string</item>
                    <item name="Magento\Eav\Model\Attribute\Data\Multiselect" xsi:type="string">string[]</item>
                </item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Eav\Block\Adminhtml\Attribute\Edit\Options\Options">
        <plugin name="add-option-code-to-data" type="SnowIO\AttributeOptionCode\Plugin\AddOptionCode" sortOrder="1"/>
    </type>
    <preference
            for="Magento\Eav\Block\Adminhtml\Attribute\Edit\Options\Options"
            type="SnowIO\AttributeOptionCode\Block\Adminhtml\Attribute\Edit\Options\Options"/>
    <preference
            for="Magento\Swatches\Block\Adminhtml\Attribute\Edit\Options\Text"
            type="SnowIO\AttributeOptionCode\Block\Adminhtml\Attribute\Edit\Options\Text"/>
    <preference
            for="Magento\Swatches\Block\Adminhtml\Attribute\Edit\Options\Visual"
            type="SnowIO\AttributeOptionCode\Block\Adminhtml\Attribute\Edit\Options\Visual"/>
</config>
